kafka-python==2.0.2
Pyspark==3.5.1
pyyaml==6.0
python-dotenv==1.2.2
confluent-kafka
sqlalchemy-trino
py4j
pyarrow
pyspark[pandas_on_spark]
pyiceberg[s3fs,hive]
pandas
grpcio
grpcio-status
googleapis-common-protos
python-dotenv==1.2.2
confluent-kafka
numpy
xgboost